<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>

<h2>Edit user</h2>

<form th:action="@{/admin/update}" method="post">

    <input type="hidden" name="id" th:value="${editUser.id}" />

    Name:
    <input name="name" th:value="${editUser.name}" />

    Last name:
    <input name="lastName" th:value="${editUser.lastName}" />

    Age:
    <input name="age" th:value="${editUser.age}" />

    Username:
    <input name="username" th:value="${editUser.username}" />

    Password:
    <input name="password" type="password" />

    <button type="submit">Update</button>

</form>

</body>
</html>