<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<!-- NAVBAR -->
<nav class="navbar navbar-dark bg-dark px-3">
    <div class="text-white">
        <strong th:text="${user.email}"></strong>
        with roles:
        <span th:each="role : ${user.roles}"
              th:text="${#strings.replace(role.name, 'ROLE_', '') + ' '}"></span>
    </div>

    <form th:action="@{/logout}" method="post">
        <button class="btn btn-outline-light">Logout</button>
    </form>
</nav>

<div class="container-fluid">
    <div class="row">

        <!-- SIDEBAR -->
        <div class="col-2 bg-light min-vh-100 p-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/user">User</a>
                </li>
            </ul>
        </div>

        <!-- CONTENT -->
        <div class="col-10 p-4">

            <h2>User information-page</h2>

            <div class="card">
                <div class="card-header">
                    About user
                </div>

                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Roles</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.age}"></td>
                            <td th:text="${user.email}"></td>
                            <td>
                                <span th:each="role : ${user.roles}"
                                      th:text="${#strings.replace(role.name, 'ROLE_', '') + ' '}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>

</body>
</html>